.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #000000;
  --bs-nav-pills-link-active-bg: #a3a9f7;
}

.col-4 {
  text-align: center;
  align-items: center;
}

body {
  background-color: #c6c2ff;
}

.carouselExampleIndicators {
  align-items: center;
}
